[user]
  name = AJ Schmidt
[pull]
  rebase = false
[init]
  defaultBranch = main
[checkout]
  defaultRemote = origin
[diff]
  wsErrorHighlight = all
  colorMoved = default
[commit]
  gpgSign = true
[tag]
  gpgSign = true
[merge]
  conflictstyle = diff3
[rerere]
  enabled = 1


[includeIf "hasconfig:remote.*.url:https://github.com/**"]
    path = ~/.gitconfig-github
[includeIf "hasconfig:remote.*.url:git@github.com:*/**"]
    path = ~/.gitconfig-github

{{ if eq .machine_type "work" }}
[includeIf "hasconfig:remote.*.url:https://{{ .work_git_domain }}/**"]
    path = ~/.gitconfig-work
[includeIf "hasconfig:remote.*.url:ssh://git@{{ .work_git_domain }}:*/*/**"]
    path = ~/.gitconfig-work
{{ end }}
