[user]
	email = {{ .email }}
	name = AJ Schmidt
	signingkey = 738D6DADADB0CC47
[pull]
	rebase = false
[init]
	defaultBranch = main
[checkout]
    defaultRemote = origin
[diff]
    wsErrorHighlight = all
    colorMoved = default
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[merge]
    conflictstyle = diff3
[rerere]
    enabled = 1
