[user]
  name = AJ Schmidt
  email = {{ .personal_email }}
  signingkey = 738D6DADADB0CC47
[pull]
  rebase = false
[init]
  defaultBranch = main
[checkout]
  defaultRemote = origin
[diff]
  wsErrorHighlight = all
  colorMoved = default
[commit]
  gpgSign = true
[tag]
  gpgSign = true
[merge]
  conflictstyle = diff3
[rerere]
  enabled = 1

{{ if eq .machine_type "work" }}
[includeIf "hasconfig:remote.*.url:https://*.{{ .work_tld }}/**"]
    path = ~/.gitconfig-work
[includeIf "hasconfig:remote.*.url:ssh://git@*.{{ .work_tld }}:*/*/**"]
    path = ~/.gitconfig-work
{{ end }}
