{{ $versions := (includeTemplate "versions.tmpl" .) | fromYaml -}}
[tools]
age = '{{ $versions.age }}'
aws-cli = '{{ $versions.aws }}'
bat = '{{ $versions.bat }}'
bitwarden = '{{ $versions.bitwarden }}'
bun = '{{ $versions.bun }}'
claude = '{{ $versions.claude }}'
croc = '{{ $versions.croc }}'
delta = '{{ $versions.delta }}'
dust = '{{ $versions.dust }}'
fd = '{{ $versions.fd }}'
fx = '{{ $versions.fx }}'
fzf = '{{ $versions.fzf }}'
gh = '{{ $versions.gh }}'
go = '{{ $versions.go }}'
jq = '{{ $versions.jq }}'
k9s = '{{ $versions.k9s }}'
node = '{{ $versions.node }}'
"pipx:yubikey-manager" = '{{ $versions.ykman }}'
ripgrep = '{{ $versions.ripgrep }}'
shellcheck = '{{ $versions.shellcheck }}'
sops = '{{ $versions.sops }}'
usage = '{{ $versions.usage }}'
uv = '{{ $versions.uv }}'
yq = '{{ $versions.yq }}'
{{ if eq .machine_type "work" -}}
glab = '{{ $versions.glab }}'
{{ end -}}
